<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>This Is HomePage</h2>
    <button id="signupBtn" title="Don't have account? SignUp here!">SignUp</button>
    <button id="loginBtn" title="Already have account? Login here!">Login</button>
    <script>
        const signupBtn = document.querySelector('#signupBtn');
        signupBtn.addEventListener('click', () => { window.location.href = '/signup' })

        const loginBtn = document.querySelector('#loginBtn');
        loginBtn.addEventListener('click', () => { window.location.href = '/login' })
    </script>
</body>
</html>